export GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/key.json
export GCP_PROJECT_ID=your-project-id
export GCS_BUCKET=your-bucket-name
export BQ_DATASET=million_songs
export REGION=europe-central2
export PREFECT_API_URL=http://127.0.0.1:4200/api
